<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #0cebeb, #20e3b2, #29ffc6);
    }

    .login-page {
        background: #29ffc6;
        height: 80vh;
    }
</style>

<div class="login-page">
    <div class="login-image">
        <img src="https://www.asterhospitals.in/sites/default/files/styles/webp/public/2022-05/best-hospital-in-kochi-kerala.jpg.webp?itok=HKbso_sm"
            alt="">
    </div>
    <div class="form">
        <div>
            <h2 class="title" style="color: #3ba188;">Hospital Login</h2>
        </div>
        <form class="login-form" action="/hospital/login" method="post">
            <input type="email" placeholder="email" name="email" />
            <input type="password" placeholder="password" name="password" />
            <button type="submit" style="background: #3ba188;">Login</button>
        </form>
    </div>
</div>