<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #bdc3c7, #2c3e50);
    }
</style>

<div class="login-page" style="width: 70vw;">
    <div class="form">
        <div>
            <h2 class="title" style="color: #2c3e50;">Send Message</h2>
        </div>
        <form class="login-form" action="/admin/send-message" method="post" enctype="multipart/form-data">
            <input type="text" name="from" value="Admin" required readonly />
            <input type="text" name="to" value="{{email}}" readonly required />
            <textarea name="message" placeholder="Enter Message Here" id="" cols="10" rows="5" required></textarea>
            <button type="submit" style="background: #00c3ff;">SUBMIT</button>
            <a href="/admin" class="font-weight-bold" style="text-decoration: none;">Back</a>
        </form>
    </div>
</div>